In [ ]:
# Download source csv - https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS

In [8]:
import pandas as pd
import numpy as np
spreadsheet = pd.read_csv('src/nasa_exoplanets.csv', delimiter = ',', low_memory = False)
spreadsheet.head()

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.003848,2014-05-14,2008-01,2014-05-14,NaN,NaN,NaN,NaN,NaN,NaN
1,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.003848,2014-07-23,2011-08,2014-07-23,NaN,NaN,NaN,NaN,NaN,NaN
2,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.003903,2018-04-25,2009-10,2014-05-14,NaN,NaN,NaN,NaN,NaN,NaN
3,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.003903,2018-04-25,2011-08,2014-07-23,NaN,NaN,NaN,NaN,NaN,NaN
4,11 UMi b,11 UMi,1,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.003903,2018-09-04,2017-03,2018-09-06,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = pd.DataFrame(spreadsheet)
years = []
for year in df.disc_year:
    if year not in years:
        years.append(int(year))
    years.sort()
print(f'Years of exoplanets discovered: {",".join([str(x) for x in years])}')


for year in years:
    current_year_found = df.query(f"disc_year == '{year}'")
    print(f'Total Exoplanets found in {year}: {current_year_found}')

NameError: name 'pd' is not defined

In [5]:
# df = pd.DataFrame(spreadsheet)
# found_2007 = df.query("disc_year == '2007'")
# print(f'Total Exoplanets found in 2007: {len(found_2007)}')